<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulaire2</title>
    <link rel="stylesheet" href="../static/formulaire.css">
</head>
<body>
    <!-- header zoro -->
    <section>
        {% extends './base.html'%}
    </section>  

    
    {% block contain %}
    <section>
      
        <!-- navbar a auche -->
        <div class="grand">

        <div class="gauche">

           {% include './slide.html'%}

        </div>

        <!-- formulaire2 -->

        <div class="droite">
            <h3>Modifier un magasin</h3>
            <form action="" method="post">
                <label for="Nom">Nom:</label>
                <input class="value" name="Nom" type="text" value="{{data[1]}}">
                <label for="Adresse">Adresse:</label>
                <input class="value" name="Adresse" type="text" value="{{data[2]}}">
                <label for="Ville">Ville:</label>
                <input id="val" type="text" name="Ville" value="{{data[3]}}">
                <label for="CodePostal">CodePostal:</label>
                <input class="value" type="text" name="CodePostal" value="{{data[4]}}">

                <div class="droit">
                    <button class="bout"><a href="{{url_for('magasin')}}">Retour</a></button>
                   <button id="bout1" type="submit" >Valider</button>
                </div>
            </form>
        </div>
    </section>
    
    {% endblock %}
</body>
</html>