<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/magasin.css">
    <title>magasin</title>
</head>
<body>

    <!-- header zoro -->

    <section>
        <div class="haut">
            <h1>ZORO</h1>
        </div>
    </section>  

    <!-- navbar a gauche -->
    <section>
        <div class="grand">
        <div class="gauche">
            {% include './slide.html' %}
        </div>


        <!-- bouton + tableau -->
        
        <div class="droite">
            <div class="btn">
                <button><a href="{{url_for('formulaire')}}">Ajouter</a></button>
            </div>
           <div class="table">
            <h4>Listes des Magasin</h4>

            <table>
                <tr class="tr1">
                    <td>id</td>
                    <td>Nom</td>
                    <td>Adresse</td>
                    <td>Téléphone</td>
                    <td>Mail</td>
                    <td>Action</td>
                </tr>
                 {% for elements in liste %}
                <tr class="tr2">
                    <td>{{ elements[0]}}</td>
                    <td>{{ elements[1]}}</td>
                    <td>{{ elements[2]}}</td>
                    <td>{{ elements[3]}}</td>
                    <td>{{ elements[4]}}</td>
                    <td >
                        <button class="modif"><a href="/form_modif/{{elements[0]}}">Modifier</a></button>
                        <button class="sup"><a href="/suppression_form/{{elements[0]}}">Supprimer</a></button>
                    </td>
                    
                </tr>
                {% endfor%}

                
            </table>
        </div>
        </div>
        </div>
    </section>
    
</body>
</html>