<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/magasin.css">
    <title>magasin</title>
</head>
<body>

    <!-- header zoro -->

    <section>
        {% extends './base.html'%}
    </section>  

    {% block contain %}
        <!-- navbar a gauche -->
        <section>
            <div class="grand">
            <div class="gauche">
                {% include './slide.html' %}
            </div>


            <!-- bouton + tableau -->
            
            <div class="droite">
                <div class="btn">
                    <button><a href="{{url_for('formulaire_produit')}}">Ajouter</a></button>
                </div>

            <div class="table">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert-{{category}}">{{message}}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <h4>Listes des Produits</h4>
                <table>
                    <tr class="tr1">
                        <td>id</td>
                        <td>NomProduit</td>
                        <td>CategorieProduit</td>
                        <td>prix</td>
                        <td>Action</td>
                    </tr>
                    
                    {% for row in mybase%}
                    <tr class="tr2">
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td >
                            <button class="modif"><a href="/form_modif_p/{{row[0]}}">Modifier</a></button>
                            <button class="sup"><a onclick="return confirm('Voulez-vous supprimer?')" href="/sup_produit/{{row[0]}}" >Supprimer</a></button>
                        </td>
                    </tr>
                    {%endfor%}
                    
                </table>
            </div>
            </div>
            </div>
        </section>

    {% endblock %}
    
</body>
</html>