<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/magasin.css">
    <title>Document</title>
</head>
<body>
    
    <!-- header zoro -->

    <section>
        {% extends './base.html' %}
    </section>

    {% block contain %}

    <!-- navbar a gauche -->
    <section>
        <div class="grand">
        <div class="gauche">

            {% include './slide.html'%}
        </div>


            <!-- bouton + tableau de suppression du magasin2 -->
        <div class="droite">

            <div class="btn">
                <button><a href="{{url_for('formulaire')}}">Ajouter</a></button>
            </div>


            <div class="table">
                <h4 class="vert">Le produit numéro 2 a été supprimé  avec succés</h4>

                <table>
                    <tr class="tr1">
                        <td>id</td>
                        <td>NomProduit</td>
                        <td>CategorieProduit</td>
                        <td>Prix</td>
                        <td>Action</td>
                    </tr>

                    <tr class="tr2">
                        <td>1</td>
                    <td>produit 1</td>
                    <td>CategorieProduit 1</td>
                    <td>prix 1</td>

                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>


                    <tr class="tr3">
                       <td>2</td>
                    <td>produit 2</td>
                    <td>CategorieProduit 2</td>
                    <td>prix 2</td>

                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>


                    <tr class="tr2">
                        <td>3</td>
                        <td>produit 3</td>
                        <td>CategorieProduit 3</td>
                        <td>prix 3</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>


                    <tr class="tr3">
                        <td>4</td>
                        <td>produit 4</td>
                        <td>CategorieProduit 4</td>
                        <td>prix 4</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>

                    <tr class="magasin5">
                        <td>5</td>
                        <td>produit 5</td>
                        <td>CategorieProduit 5</td>
                        <td>prix 5</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>

                    <tr class="tr3">
                        <td>6</td>
                        <td>produit 6</td>
                        <td>CategorieProduit 6</td>
                        <td>prix 6</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>

                    <tr class="tr2">
                        <td>7</td>
                        <td>produit 7</td>
                        <td>CategorieProduit 7</td>
                        <td>prix 7</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>

                    <tr class="tr3">
                        <td>8</td>
                        <td>Nouveau</td>
                        <td>Nouveau</td>
                        <td>Nouveau</td>
                        <td>
                            <button class="modif"><a href="{{url_for('form_modif')}}">Modifier</a></button>
                            <button class="sup"><a href="{{url_for('suppression_form')}}">Supprimer</a></button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
    </section>

    {% endblock %}
    
</body>
</html>