<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/supression_form.css">
    <title>Document</title>
</head>
<body>
    
    <!-- header zoro -->
     
    {% extends './base.html' %}

       <!-- navbar a gauche  -->

    {% block contain %}
    <section class="section">
        <div class="gauche">

           {% include './slide.html'%}
        </div>



        <!--formulaire de suppression d'un magasin  -->
        
        <div class="droite">
           
                <h1>suppression de  produit</h1>

            <div class="form">
               
                <div class="font">
                    <p>vous êtes sur le point de supprimer le produit n°2. êtes-vous sûr de vouloir continuer.</p>
                </div>

                <div class="droit">
                    <button class="bout"><a href="{{url_for('produit')}}">Retour</a></button>
                   <button id="bout1" type="submit" ><a href="{{url_for('sup_produit')}}">Valider</a></button>
                </div>
            </div>
        </div>
       
    </section>

    {% endblock %}
</html>